extends ../layout.pug

block content
  h1 Create Customer List 
  form(action="/customer/createPost" method='post' enctype='multipart/form-data')
    div 
        label Name 
        input(name='fullname')
    div 
        label email
        input(name='email')
    div 
        label Password
        input(name='password' type= 'password')
    div 
        label Image
        input(name='image' type= 'file')
    div 
        input(type='submit' value='CREATE')